*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #222;
  color:#fff;
}
h1{
  text-align: center;
}
new{
  margin: 3% 1%;
  border-radius: 3px;
}
banner.poster.h1{
  text-align: center;
}


